<!DOCTYPE html>
<html>
    <header>

    </header>
    <body>
        <a href="Logout.HTML">Log Out</a>
        <form method="post" action="DataInput.HTML">
            <tr style="border: 1px black;">
                <td>
                    <p style="font-size: 25px;">Amethyst</p>
                    <img src="81Kst1zBhFL.jpg" alt="Amethyst" width="150" height="150">
                    <p><input type="radio" name="geode" id="amethyst" style="background-color: rgb(113, 228, 113); color: white;font-size: 25px;">Purchase</input></p>
                    <p style="font-size: 25px;">Quartz</p>
                    <img src="s-l500.jpg" alt="Quartz" width="150" height="150">
                    <p><input type="radio" name="geode" id="quartz" style="background-color: rgb(113, 228, 113); color: white;font-size: 25px;">Purchase</input></p>
                </td>
                <td>
                    <p style="font-size: 25px;">Diamond</p>
                    <img src="HTB1QO3gaG5s3KVjSZFNq6AD3FXa6.jpg" alt="Diamond" width="150" height="150">
                    <p><input type="radio" name="geode" id="diamond" style="background-color: rgb(113, 228, 113); color: white;font-size: 25px;">Purchase</input></p>
                </td>
            </tr>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>